In [ ]:
# from newspaper import Article
# import nltk

# url = 'https://www.yahoo.com/news/labor-board-accuses-apple-suppressing-222846876.html'
# article = Article(url)

# try:
#     article.download()
#     article.parse()
#     article.nlp()  # Run NLP after parsing

#     # Print results
#     print("Summary:", article.summary)
# except Exception as e:
#     print("An error occurred:", e)

In [105]:
from newspaper import Article
import newspaper
import pandas as pd
# from langdetect import detect
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.lsa import LsaSummarizer

In [ ]:
def scrape_tesla_news(url):
    """
    Scrapes Tesla news from the given Yahoo Finance URL.

    Args:
        url: The URL of the Yahoo Finance page for Tesla news.

    Returns:
        A pandas DataFrame with columns 'title', 'summary', and 'date'.
    """

    paper = newspaper.build(url)
    articles = paper.articles

    data = []
    # n = 0
    for article in articles:
        # if n > 30:
        #     break
        try:   
            article.download()
            article.parse()
            text = article.text
            summary = summarize(text)
            # language = detect(text)
        except:
            print('error occured')

        # print(language)
        data.append({'title': article.title,
                    'text': text,
                    'url': article.url,
                    'summary': summary})
        # n += 1

    df = pd.DataFrame(data)
    return df

def summarize(text):
    if type(text) == type(None):
        return None
    # Prepare the parser and summarizer
    parser = PlaintextParser.from_string(text, Tokenizer("english"))
    summarizer = LsaSummarizer()

    # Set the number of sentences you want in the summary
    summary = summarizer(parser.document, 3)  # Summary with 3 sentences

    sentenceV = ""
    # Print the summary sentences
    for sentence in summary:
        sentenceV += str(sentence)
    
    return sentenceV

In [94]:
# Replace with the actual Yahoo Finance URL for Tesla news
url = "https://stockanalysis.com/stocks/aapl/"

df = scrape_tesla_news(url)

# Save the DataFrame to a CSV file
# df.to_csv('tesla_news.csv', index=False)

error occured
error occured

In [95]:
from newspaper import Article

In [ ]:
for i, url in enumerate(df['url']):
    try:
        article = Article(url)
        article.download()
        article.parse()
        df.at[i, 'text'] = article.text
    except Exception as e:
        df.at[i, 'text'] = None
        df.at[i, 'date'] = None
        print('error occured', e)

error occured Article `download()` failed with 401 Client Error: HTTP Forbidden for url: https://www.marketwatch.com/story/23andme-to-slash-40-of-its-workforce-end-therapeutics-program-to-cut-costs-996657b7 on URL https://www.marketwatch.com/story/23andme-to-slash-40-of-its-workforce-end-therapeutics-program-to-cut-costs-996657b7
error occured Article `download()` failed with 403 Client Error: Forbidden for url: https://www.etftrends.com/monthly-income-channel/dont-miss-revamped-nusi-tech-investing/ on URL https://www.etftrends.com/monthly-income-channel/dont-miss-revamped-nusi-tech-investing/

In [97]:
from bs4 import BeautifulSoup as bs
import requests

In [ ]:
#Getting the dates (r u sure this wroks...?)
#If the website is working with beautiful soup, can't we just get the urls with beautiful soup too? 
#beacause bs4 is way more lightweight than newspaper3k
r = requests.get('https://stockanalysis.com/stocks/aapl/')
soup = bs(r.text, 'html.parser')

dates = soup.select('div.mt-1.text-sm.text-faded.sm\\:order-1.sm\\:mt-0')

#Are we sure about the accuray of this?
all_dates = []

for date in dates:
    all_dates.append(date['title'])

In [ ]:
#appending the date
df["date"] = pd.Series(all_dates)

In [ ]:
#getting which websites are fucked
df[df['text'].apply(type) == type(None)]

,title,text,url,date,summary
1,"23andMe to slash 40% of its workforce, end the...",None,https://www.marketwatch.com/story/23andme-to-s...,"Nov 11, 2024, 12:00 PM EST",None
2,Don't Miss the Revamped NUSI When Tech Investing,None,https://www.etftrends.com/monthly-income-chann...,"Nov 7, 2024, 3:05 PM EST",None

In [103]:
df.head()

,title,text,url,date,summary
0,European Google rivals partner on search engin...,In this article GOOGL Follow your favorite sto...,https://www.cnbc.com/2024/11/12/ecosia-qwant-p...,"Nov 11, 2024, 3:42 PM EST",Abecassis will also serve as CEO of the new ve...
1,"23andMe to slash 40% of its workforce, end the...",None,https://www.marketwatch.com/story/23andme-to-s...,"Nov 11, 2024, 12:00 PM EST",None
2,Don't Miss the Revamped NUSI When Tech Investing,None,https://www.etftrends.com/monthly-income-chann...,"Nov 7, 2024, 3:05 PM EST",None
3,IAC Considers A Spin-Off Of Angi After Q3 Repo...,IAC IAC announced in its third-quarter earning...,https://www.benzinga.com/trading-ideas/24/11/4...,"Nov 7, 2024, 3:00 PM EST",This news comes as Angi shares traded lower af...

In [104]:
df.shape

(4, 5)